@use "../utils/variables";
.active {
  display: none;
}

#menu {
  position: fixed;
  right: 0;
  z-index: 4;
}

// Nav
#nav {
  background-color: variables.$primary-color;
  position: fixed;
  height: 100%;
  right: 0;
  z-index: 3;
  li {
    transition: background-color 0.2s;
    &:hover {
      background-color: variables.$primary-color;
      border-bottom: 1px solid #fff;
    }
    a {
      transition: transform 0.6s;
      &:hover {
        transform: translateX(10px);
      }
    }
  }
}
